html, body {
    background:#000 url(https://c.pxhere.com/photos/b1/5b/milky_way_starry_sky_sky_star_night_sky_space_night_evening-1277134.jpg!d) !important;
    background-size:cover !important;
    background-attachment: fixed !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 400;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    /*position: relative;*/
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 78.5px !important;
    font-weight: 0 !important;
    color:#fff;
}

.links > a {
    color: #fff !important;
    padding: 15px 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none !important;
    text-transform: uppercase;
}

.links > a.active {
    color: #fff;
    padding: 15px 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom:2px solid #fff;
}

.m-b-md {
    margin-bottom: 30px;
}

.section-padding-100{
  padding-top:100px;
  padding-bottom:100px;
}

.margin-fall{
  margin-top:50px;
}

.my_panel{
  margin-top:50px;
}

@media (min-width:1201px) {
  .my_panel, .container{
    margin-top:50px;
  }
  .panel-default{
    width:1100px !important;
    margin-left:12.5px;
  }
}

.segments p{
  font-size:15px;
}

.panel-heading{
  font-size:20px;
}

.sm-profile-pic{
  width: 32px;
  height: 32px;
  border-radius:100%;
  margin-right:10px;
}

.panel-body .ui.pointing.menu{
  font-size:15px;
}

.panel-body .ui.segment{
  font-size:15px;
}

/* CSS Grid */
.grid{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 100%;
  grid-gap:10px;
}
